body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

header a{
    margin: 30px 20px;
    text-decoration: none;
    color: black;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background: #2E2D89;
    -webkit-box-shadow: black 5px 5px 5px;
    padding: 20px 0;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
}

.right {
    transform: rotate(-45deg);
}

.navigations h1{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgba(208, 208, 208, 0.71);
    display: inline-block;
    font-size: 40px;
}

.logo{
    padding: 10px  5px;
    border-radius: 30%;
    background: rgba(208, 208, 208, 0.71);
}

.nav{
    position: relative;
    display: flex;
    background: white;
    justify-content: space-between;
    -webkit-box-shadow: rgba(150, 149, 149, 0.9) 5px 5px 5px;

}
button{
    margin: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #006E94;
    padding: 20px;
}
section{
    background: white;
    display: flex;
    flex-direction: row;
    color: #707070
}
.leftbar ul{
    margin: 20px 0;
    list-style: none;
}

.avatar img{
    clip-path: circle(50%);
    width: 50px;
}

.avatar{
    margin:20px 0 ;
}

.middle{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

.content1{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    background: #2E2D89;
}
.footerul{
    display: flex;
}

.footerul ul li{
    text-indent: -40px;
    list-style: none;
    font-weight:lighter;
}

.header a {
    color: white;
}


header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

span{
    background-color: rgba(168, 164, 164, 0.71);
    padding: 3px 10px;
    border-radius: 10px;
    color: black;
}

.contentFish{
    display: flex;
    flex-direction: row;
    background-color: #006E94;
    border-radius: 20px;
    margin: 40px 0;
}

.list {
    margin: 50px;
    justify-content: space-around;
    list-style: none;
    color: white;
    font-weight: bold;
}

.footer{
    margin: 0 auto 0 0;
}

.leftbar a{
    text-decoration: none;
    color: #707070;
}
.leftbar{
    margin: 0 auto;
}
.leftbar li{
    padding: 5px;
}

.bluePic{
    margin: 40px 0;
    border-radius: 20px;
}

p{
    line-height: 1.8;
    font-size: 20px;
}

.copyright{
    margin: 50px 0 0 auto;
    display: block;

}
.copyright span{
    padding: 0;
    background: none;
    color: #707070;
    font-weight: bold;
}

.copyright p{
    color: #707070;
}
.AvatarArtem{
    display: flex;
}


.list a{
    text-decoration: none;
    color: #707070;
}

.list li{
    margin: 4px 0;

}

.list ul {
    margin-top: 20px;
}

h1{
    font-size: 40px;
}

.backgroundFish h1{
    color: white;
}

.backgroundFish p{
    color: #a6a6a6;
}

.backgroundFish a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}

.backgroundFish{
    margin: 0 40px;
}

.content1 ul li {
    font-size: 20px;
}
