@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Epilogue:wght@200;300;400;500;600;700;800;900&family=Inter:wght@400;500&family=Kanit:ital,wght@1,200&family=Poppins:wght@700&family=Raleway:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Epilogue:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:ital,wght@1,200&family=Poppins:wght@700&family=Raleway:ital,wght@0,200;1,100&display=swap');
body{
    padding: 0;
    margin: 0;
}

header a{
    margin: 0 5px;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    color: black;
    letter-spacing: 0.55px;
    padding: 0 ;
}

.hrefs a , .lorem a{
    color: white;
}

.hrefs{
    margin: 0 30px 0 0 ;
}

.lorem{
    position: relative;
    margin: 0 0 0 27px;
}

.imglorem{
    position: absolute;
    top: -5px;
    right: -30px;
}

.hrefs img{
    position: relative;
    top: 2px;
}

.header{
    display: flex;
    justify-content: space-between;
    background: #002c9bff;
    padding:13px 0 14.5px 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.navigations h1{
    letter-spacing: -1px;
    font-weight: 500;
    color: #c0c2d3ff;
    font-size: 23px;
    padding:  0;
    margin:0 0 0 10px;
}

.nav{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 8.7px  30px 9px 30px;
    position: relative;
    display: flex;
    background: white;
    justify-content: space-between;
    -webkit-box-shadow: rgba(213, 211, 211, 0.46) 4px 2.5px 4px;
}
i{
    margin-left: 3px;
}
.navigations .logo{
    margin-left: 1px;
    width: 35px;
    padding: 8.75px 4px;
    height: 30px;
    background: #e5e8edff;
    border-radius: 11px;
}

.navigations a{
    padding: 1px 10.5px 0 10.5px;
    font-size: 14px;
    letter-spacing: 0;
}

button{
    font-family: "Inter", sans-serif;
    border-radius:8px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #0069ffff;
    padding: 10px 12px 12px 12px;
    font-size: 13px;
}

.navigations1{
    display: flex;
    align-items: center;
    padding: 2px 0 0  0  ;
}

section{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #707070
}

.navigations{
    display: flex;
    align-items: center;
}

.leftbar ul{
    list-style: none;
}

.leftbar{
    display: flex;
    flex-direction: column;
}

.avatar img{
    clip-path: circle(50%);
    width: 45px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:-12px;
}

.avatar{
    position: relative;
}

.user a{
    font-weight: bold;
    color: #0069ffff;
}

.user{
    padding:30px 0 0 65px
}

.dev{
     color: #6a7285ff;
    font-weight: bold;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:64%;
    flex-basis: border-box;
}

.content{
    color: rgba(3, 27, 78, 1);
}

.content1{
    display: flex;
    flex-direction: column;
}

.footerul ul li{
    text-indent: -40px;
    list-style: none;
    font-weight:lighter;
}

header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom:-25px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

span{
    background-color: #eff2fbff;
    font-size: 14px;
    padding: 6px 5px;
    border-radius: 7px;
    color: black;
    margin: 0;
}

.contentFish{
    display: flex;
    flex-direction: row;
    background-color: #00455bff;
    border-radius: 20px;
    margin: 40px 0;
    height: 370px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000e29ff;
}
.user p{
    margin: 0 0 10px 0;
    padding:0;

}
.footerul{
    display: flex;
    flex-direction: row;
}

.leftbar a{
    text-decoration: none;
    color: #5c6a88ff;
    font-size: 14px;
}

.bluePic{
    margin: 45px 0 17px 0;
    border-radius: 20px;
    height: 380px;
}


.copyright{
    display: flex;
    flex-direction: column;
}

.copyright img{
    width: 50px;
}

.copyright span{
    padding: 0;
    background: none;
    color: #707070;
    font-weight: bold;
}

.copyright p{
    color:#4d5b7cff;
}

.list a{
    text-decoration: none;
    color: #4d5b7cff;
}


.backgroundFish h1{
    color: white;
    margin: 45px 0 24px 0  ;
    font-size: 32px;
    padding: 0;
}

.backgroundFish p{
    color: #d6dceaff;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.backgroundFish a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.backgroundFish{
    margin: 0 33px;
}

section{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.list li{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.list{
    margin: 20px;
}

.content h1{
    padding-top: 10px;
    font-family: "Inter" ,sans-serif;
    font-size: 32px;
    margin-bottom:0;
}

.content .p{
    padding-top: 1px;
    padding-bottom: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: #4d5b7cff;
    margin-bottom: 32px;
}

h3, h2{
    color: #4d5b7cff;
}

.content1 a{
    color: #0069ffff;
    text-underline-offset: 3px;
}

.Contents li, .Related li{
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-left: 36px;
    font-size: 12px;
    margin: 0;
}

.Contents li{
    letter-spacing: 1px;
    font-weight: bold;
}

.Contents, .Related{
    padding: 0;
}

.Related{
    padding-top: 13px;
}

.down {
    transform: rotate(45deg);
}

.rel{
    font-weight: bold;
}

.content1 p{
    line-height: 1.5;
    margin: 5px 0 10px 0;
    letter-spacing: 0.5px;
    padding: 0;
}

.Prerequisites{
    margin: -10px 0 0 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.Prerequisites p{
    padding: 10px 0 ;
    margin: 0;
}

.Prerequisites ul li{
    font-size: 16px;
}

.Prerequisites ul{
    margin:5px 0 20px 0 ;
}
.Conclusion p{
    padding: 5px 0 0 0 ;
    letter-spacing: 0.5px
}
.Conclusion{
    margin: -8px 0 0 0;
    padding: 0;
    line-height: 1.5;
}

.Prerequisites a{
    color: #0069ffff;
    text-underline-position: under;
}

.square{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #d6dceaff;
    margin: 70px 0 10px 0;
}

.contentFish{
    position: relative;
}
.contentFish img{
    position: relative;
    right:0;
    height: 100%;
}
