@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Epilogue:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&family=Kanit:ital,wght@1,200&family=Poppins:wght@700&family=Raleway:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    width: 1300px;
    height: 2730px;
    padding: 0;
    margin: 0 auto;
}

.Mainheader a{
    margin: 0 5px;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    color: black;
    letter-spacing: 0.55px;
    padding: 0 ;
}

.hrefs a , .lorem a{
    color: white;
}

.hrefs{
    margin: 0 30px 0 0 ;
}

.lorem{
    position: relative;
    margin: 0 0 0 27px;
}

.imglorem{
    position: absolute;
    top: -5px;
    right: -30px;
}

.hrefs img{
    position: relative;
    top: 2px;
}

.header{
    display: flex;
    justify-content: space-between;
    background: #002c9bff;
    padding:13px 0 14.5px 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.navigations h1{
    font-family: "Epilogue", sans-serif;
    letter-spacing: -1px;
    font-weight: 500;
    color: #c0c2d3ff;
    font-size: 23px;
    padding:  0;
    margin:0 0 0 10px;
}

.nav{

    padding: 8.7px  30px 9px 30px;
    position: relative;
    display: flex;
    background: white;
    justify-content: space-between;
    -webkit-box-shadow: rgba(213, 211, 211, 0.46) 4px 2.5px 4px;
}

.navigations .logo{
    margin-left: 1px;
    width: 35px;
    padding: 8.75px 4px;
    height: 30px;
    background: #e5e8edff;
    border-radius: 11px;
}

.navigations a{
    font-family: "Inter", sans-serif;
    margin: 0 10.5px;
    font-weight: 500;
    padding: 1px 5px 0 5px;
    font-size: 14px;
    letter-spacing: 0;
}

button{
    font-family: "Inter", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    border-radius:8px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #0069ffff;
    padding: 11px  12.19px;
    font-size: 13px;
}

.navigations1{
    display: flex;
    align-items: center;
    padding: 2px 0 0  0  ;
}

.navigations{
    display: flex;
    align-items: center;
}

.leftbar ul{
    list-style: none;

}

.leftbar{
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    text-indent: -5px;
}

.avatar img{
    clip-path: circle(50%);
    width: 46px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:-11.5px;
    left: 2px;
}

.avatar{
    position: relative;
}

.user a{
    font-weight: 500;
    color: #0069ffff;
}

.user{
    padding:31px 0 0 65px
}

.dev{
    color: #6a7285ff;
    font-weight: 500;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:800px;
    font-family: "Inter",sans-serif;
}

.content{
    color: rgba(3, 27, 78, 1);
}

.content1{
    display: flex;
    flex-direction: column;
}

.footerul ul li{
    text-indent: -40px;
    list-style: none;
    font-weight:lighter;
}
a.tutorial {
    text-decoration: none;
    position: relative;
}

.css {
    background-color: #eff2fbff;
    font-size: 14px;
    padding: 5.2px 6px  6px 6px;
    border-radius: 8px;
    color: black;
    margin: 0;
    font-weight: 500;
}

.navigations a.tutorial:after{
    content: '';
    width: 104%;
    position: absolute;
    left: -4px;
    top: 40px;
    border-width: 0 2px 2px;
    border-style: solid;
    color: #1d4eff;
}

.contentFish{
    display: flex;
    flex-direction: row;
    background-color: #00455bff;
    border-radius: 25px;
    margin: 40px 0;
    width: 800px;
    height: 368px;
    -webkit-box-shadow: #eff1f9ff 6px 6px 6px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    font-weight: 300;
    margin: 0;
    gap:16px;
    padding: 0 23px;
}

footer{
    padding:96px 0 0 0 ;
    justify-content: center;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: flex-start;
    background: #000e29ff;
    width: 1300px;
    height: 425px;
}

.user p{
    font-weight: 600;
    margin: 0 0 7px 0;
    padding:0;

}

.footerul{
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding:0;
    font-size: 13px;
    color: #777e8dff;
}

.leftbar a{
    text-decoration: none;
    color: #5c6a88ff;
}

.bluePic{
    margin: 45px 0 17px 0;
    border-radius: 20px;
    height: 376px;
    width: 800px;
}
.p{
    color: #76809aff;
}

.copyright img{
    width: 50px;
    position: relative;
    left: 5px;
}

.copyright{
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: none;
    color:#777e8dff;
    font-weight: 500;
    font-size: 13px;
}

.list a{
    text-decoration: none;
    color: #777e8dff;
    font-weight: 500;
}

.backgroundFish h1{
    font-family: "Epilogue", sans-serif;
    color: white;
    margin: 47px 0 14px 0  ;
    font-size: 31px;
    padding: 0;
    font-weight: 700;
    width: 545px;
    line-height: 1.3;
}

.backgroundFish p{
    color: #c9d3e2ff;
    line-height: 1.5;
    width: 545px;
}

.backgroundFish a{
    position: relative;
    font-family: "JetBrains Mono", sans-serif;
    text-decoration: none;
    color: white;
    margin:0;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.75px;
    top: 7px;
}

.backgroundFish{
    margin: 0 0 0 33px;
    padding:0 ;
}

section{
    display: flex;
    flex-direction:row;
    background: white;
    padding-bottom: 43px;
}

.list li{
    display: flex;
    flex-direction: column;
    margin:9px 0;
}

.content h1{
    padding-top: 10px;
    font-size: 32px;
    margin-bottom:0;
}

.content .p{
    padding: 0;
    font-size: 16px;
    color: #4d5b7cff;
    margin-bottom: 26px;
}

h3, h2{
    color: #4d5b7cff;
    font-family: "Epilogue",sans-serif;
}

h2{
    padding-top: 2px;
    margin-bottom:16px;
    letter-spacing: 0;
}

h3{
    padding-top:8px;
}

.content1 a{
    color: #0069ffff;
    text-underline-offset: 3px;
}

.Contents li, .Related li {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.Contents li{
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 36px;
    font-family: "Inter", sans-serif;
    padding-top: 13px;
    padding-bottom: 0;
}

.Related{
    padding: 13px 0 0 0;
    margin-left: -3px;
}

.Related li{
    font-size: 13px;
    letter-spacing: 0.5px;
    padding-top: 13px;
    padding-bottom: 3px;
    font-family: "Epilogue", sans-serif;
}

.Contents{
    padding: 0;
}

.rel{
    font-size: 15px;
    font-weight: 500;
}

.content1 p{
    line-height: 1.5;
    margin: 4px 0 12px 0;
    padding: 0;
}

.Prerequisites{
    margin: -10px 0 0 0;
    padding: 0;

    line-height: 1.4;
}

.Prerequisites p{
    padding: 10px 0 ;
    margin: 0;
}

.Prerequisites ul li{
    font-size: 16px;
}

.Prerequisites ul{
    color: #4d5b7cff;
    margin:6px 0 18px 0 ;
}

.Conclusion p{
    padding: 7px 0 2px 0 ;

}

.Conclusion{
    margin: -7px 0 0 0;
    padding: 0;
    line-height: 1.5;
}

.Prerequisites a{
    color: #0069ffff;
    text-underline-position: under;
}

.square{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #d6dceaff;
    margin: 70px 0 10px 0;
}

.contentFish{
    position: relative;
    margin-bottom: 47px;
}
.contentFish i img{
    position: relative;
    right:-3px;
    height: 100%;
}

.contentFish  a img{
    position: relative;
    top: 10.5px;
    left: 8px;
}

.rectangle{
    background: #f0f0f2ff;
    height: 25px;
}

.content1 span, .Prerequisites span{
    font-family:"JetBrains Mono" , sans-serif;
    font-weight: 400;
    color: black;
    padding: 3px;
    background: #e3e8f4ff;
    font-size: 14px;
    border-radius: 8px;
}

.copyright p{
    position: relative;
    left: -20px;
    font-size: 14px;
    font-weight: 300;
}

